<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.eac.cluster.monitor.Monitor</listener-class>
    </listener>
    <listener>
        <listener-class>com.eac.cluster.scale.TrackScaling</listener-class>
    </listener>
    <servlet>
        <servlet-name>UploadNotifier</servlet-name>
        <servlet-class>com.eac.cluster.servlet.UploadNotifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UndeployNotifier</servlet-name>
        <servlet-class>com.eac.cluster.servlet.UndeployNotifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StopNotifier</servlet-name>
        <servlet-class>com.eac.cluster.servlet.StopNotifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartNotifier</servlet-name>
        <servlet-class>com.eac.cluster.servlet.StartNotifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadNotifier</servlet-name>
        <servlet-class>com.eac.cluster.servlet.ReloadNotifier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetLogging</servlet-name>
        <servlet-class>com.eac.cluster.monitor.GetLogging</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadNotifier</servlet-name>
        <url-pattern>/UploadNotifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UndeployNotifier</servlet-name>
        <url-pattern>/UndeployNotifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StopNotifier</servlet-name>
        <url-pattern>/StopNotifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartNotifier</servlet-name>
        <url-pattern>/StartNotifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadNotifier</servlet-name>
        <url-pattern>/ReloadNotifier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetLogging</servlet-name>
        <url-pattern>/GetLogging</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
